<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByIS9hsshL2WPPSFu2Yal9y1X4q-s11_k</string>
	<key>GCM_SENDER_ID</key>
	<string>792370583323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pandascode.sicherr</string>
	<key>PROJECT_ID</key>
	<string>sicherr-7176f</string>
	<key>STORAGE_BUCKET</key>
	<string>sicherr-7176f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792370583323:ios:1d0728a57b42df3a86e5be</string>
</dict>
</plist>